body {
    margin: 0;
    padding: 0;
    background: #000;
}

p {
    font-size: 7px;
    line-height: 5px;
    text-align: justify;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    background: url(herejpg.jpg) center/cover;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0);
    
}
